:root {
    --blue: #5847eb;
    --work: #ff8c66;
    --play: #56c2e6;
    --study: #ff5c7c;
    --exercise: #4acf81;
    --failure-color: #d8534f;
    --social: #7536d3;
    --selfcare: #f1c65b;
    --very-dark-blue: #0f1424;
    --dark-blue: #1c1f4a;
    --desaturated-blue: #6f76c8;
    --pale-blue: #bdc1ff;
    --white: #ffffff;
    --black: #000000;
    --font-def: "Rubik",sans-serif;
}